@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary: #da5e2d;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#c322bf), color-stop(41%, #e6a55b), color-stop(64%, #9647f0), to(#fd802d));
  background: linear-gradient(0deg, #c322bf 0%, #e6a55b 41%, #9647f0 64%, #fd802d 100%);
}

main .card {
  width: 350px;
  height: 550px;
  -webkit-perspective: 700px;
          perspective: 700px;
}

main .card__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes flip {
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flip {
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

main .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--primary)), to(var(--secondary)));
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 20px;
}

.card__face--front .seta-img {
  height: 100%;
}

.card__face--front .seta-img img {
  position: absolute;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 2%;
  right: 2%;
}

.card__face--front .bg-patinha {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__face--front .bg-patinha .bg-fundo {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__face--front .bg-patinha .front-img {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.card__face--front .bg-patinha .front-img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid white 5px;
  -webkit-animation-name: pulo;
          animation-name: pulo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: var(--primary);
}

@-webkit-keyframes pulo {
  50% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}

@keyframes pulo {
  50% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}

.card__face--back {
  background-color: var(--light);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__face--back .card__content {
  width: 100%;
  height: 100%;
}

.card__face--back .card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__face--back .card__header h2 {
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card__face--back .card__header h2 {
    font-size: 22px;
    padding: 2px;
  }
}

.card__face--back .card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(10%, var(--primary)), color-stop(115%, var(--secondary)));
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 50%;
}

.card__face--back .pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(var(--primary)), to(var(--secondary)));
  background-image: linear-gradient(to bottom left, var(--primary), var(--secondary));
  border: 5px solid #FFF;
}

.card__face--back .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px 15px 25px;
}

.card__face--back .card__body h3 {
  color: var(--dark);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.card__face--back .card__body .body-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

.card__face--back .card__body .body-p p {
  color: var(--dark);
  font-size: 14px;
  line-height: 1.5;
  margin-left: 30px;
}

.card__face--back .card__body .icon-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.card__face--back .card__body .icon-contact img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  margin-top: 15px;
}

.card__inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=style.css.map */